<div>
  <nav>
    <ul>
      <li>
        <a href="/home" class="nav-link" routerLink="home">Home</a>
      </li>
      <li>
        <a href="/about" class="nav-link" routerLink="about">About</a>
      </li>
      <li>
        <a href="/member" class="nav-link" routerLink="member">Member Page (the page only can view when logged in.)</a>
      </li>
    </ul>
    <button (click)="login()"  *ngIf="!isLoggedIn">LogIn</button>
    <button (click)="logout()"  *ngIf="isLoggedIn">LogOut</button>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="loading-info" *ngIf="isLogging">loading ...</div>
